# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails and files
Icon?
._*

# Files that might be created by editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo

# Local logs or environment files
*.log
.env
.directory
